.blog-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 25px 30px 25px;
  background-color: #d9d9d9;
}

h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.blog-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.blog {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #f9d7d7;
}
