.news-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 25px 30px 25px;
  background-color: #d9d9d9;
}

.news-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news {
  height: 110px;
  display: flex;
  align-items: center;
  background-color: #bdcdf7;
}
